<div {%block tab_index %}tabIndex="-1"{% endblock %}
    id="{{ station.hash }}"
    hx-get={% block play_link %}"/radio/play/{{ station.hash }}"{% endblock %}
    hx-swap="none" 
    hx-trigger="click"
    class="radio-row d-flex align-items-center mt-2 truncate {% if id == station.hash %}active{% endif %}">
    <span class="cover px-1">
        <img loading="lazy" title="{{ station.name|raw }}" onError="this.src = '/images/no-album.png'" src="/radio/cover/{{ station.hash }}/46/46" alt="cover" />
    </span>
    <div class="d-flex align-items-center flex-grow-1 truncate">
        <div class="d-flex flex-column flex-grow-1 truncate">
            <span class="name px-1 truncate">{{ station.name|raw }}</span>
            <span class="location px-1 truncate text-muted">{{ station.city|raw }}, {{ station.province|raw }}, {{ station.country|raw }}</span>
        </div>
    </div>
</div>
<script>
  var current_src = player.src;

  player.addEventListener('error', reloadStream);
  player.addEventListener('ended', reloadStream);

  var reloadStream = () => {
    console.log('Reloading stream');
    player.pause();
    player.src = current_src + '?t=' + Date.now(); // cache buster
    player.load();
    player.play().catch(() => {});
  }
</script>
