<div class="modal-content">
  <form method="POST" action="{{ action }}">
    <div class="modal-header">
      <h5 class="modal-title">{{ title }}</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        {{ csrf()|raw }}
        {% for key,value in data %}
        <div>
          <label for="formControlInput" class="form-label">{{ labels[loop.index0] }}</label>
          <input type="text" class="form-control" id="" placeholder="" value="{{ value }}" {% if readonly %}readonly="readonly"{% endif %} />
        </div>
        {% endfor %}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      {% if not readonly %}
      <button type="submit" class="btn btn-primary">{{ button }}</button>
      {% endif %}
    </div>
  </form>
</div>
