<div class="mb-2">
  {% include "components/flash.html.twig" %}
</div>
<div id="table" class="bg-white shad p-2">
  <div id="table-actions" class="d-flex p-2">
    {% if has_create() %}
    <button class="btn btn-sm btn-success" hx-on::after-request="new bootstrap.Modal(document.getElementById('modal')).show()" hx-get="/admin/{{ module.link }}/modal/create" hx-target=".modal-dialog" hx-select=".modal-content"><i class="bi bi-plus-square pe-1"></i> New</button>
    {% endif %}
    <button class="btn btn-sm btn-primary ms-1"><i class="bi bi-funnel pe-1"></i> Filter</button>
    <div class="ms-auto">
      <button class="btn btn-sm btn-primary ms-1"><i class="bi bi-download pe-1"></i> Export</button>
    </div>
  </div>
  <div class="table-responsive p-2">
    <table class="table table-hover table-sm m-0">
      <thead>
        <tr>
          <th class="checkbox-cell"><input id="select-all" type="checkbox" /></th>
          {% for header in headers %}
          <th>{{ header }}</th>
          {% endfor %}
          {% if has_row_actions() %}
          <th class="text-end">Actions</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for row in data.rows %}
        <tr>
          <td class="checkbox-cell"><input type="checkbox" id="select_{{ row.id }}" value="{{ row.id }}" /></td>
          {% for value in row %}
          <td>{{ value }}</td>
          {% endfor %}
          {% if has_row_actions() %}
          <td id="row-actions">
            <div class="d-flex justify-content-end">
              {% if has_show(row.id) %}
              <button class="btn btn-sm" hx-on::after-request="new bootstrap.Modal(document.getElementById('modal')).show()" hx-get="/admin/{{ module.link }}/modal/{{ row.id }}" hx-target=".modal-dialog" hx-select=".modal-content"><i class="bi bi-eye"></i></button>
              {% endif %}
              {% if has_edit(row.id) %}
              <button class="btn btn-sm ms-1" hx-on::after-request="new bootstrap.Modal(document.getElementById('modal')).show()" hx-get="/admin/{{ module.link }}/modal/{{ row.id }}/edit" hx-target=".modal-dialog" hx-select=".modal-content"><i class="bi bi-pencil"></i></button>
              {% endif %}
              {% if has_delete(row.id) %}
              <form>
              {{ csrf()|raw }}
              <button class="btn btn-sm ms-1" hx-post="/admin/{{ module.link }}/{{ row.id }}/destroy"><i class="bi bi-trash"></i></button>
              </form>
              {% endif %}
            </div>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
      <caption>
        {{ caption }}
      </caption>
    </table>
  </div>
  {% if data.total_pages > 1 %}
  <nav id="pagination" class="mt-2">
    <ul class="pagination">
      {% if data.page != 1 and data.page > data.pagination_links %}
      <li class="page-item">
        <a class="page-link" href="?page=1">
          <span><i class="bi bi-chevron-double-left"></i></span>
        </a>
      </li>
      <li class="page-item {% if data.page - 1 <= 0 %}disabled{% endif %}">
        <a class="page-link" href="?page={{ data.page - 1}}">
          <span><i class="bi bi-chevron-left"></i></span>
        </a>
      </li>
      {% endif %}
      {% for i in data.page - data.pagination_links..data.page - 1 %}
        {% if i >= 1 %}
        <li class="page-item">
          <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
        {% endif %}
      {% endfor %}
      <li class="page-item active">
        <a class="page-link" href="?page={{ data.page }}">{{ data.page }}</a>
      </li>
      {% for i in data.page + 1..data.page + data.pagination_links %}
        {% if i <= data.total_pages %}
        <li class="page-item">
          <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
        {% endif %}
      {% endfor %}
      {% if data.page != data.total_pages and data.page < data.total_pages - data.pagination_links %}
      <li class="page-item">
        <a class="page-link {% if data.page + 1 >= data.total_pages %}disabled{% endif %}" href="?page={{ data.page + 1}}">
          <span><i class="bi bi-chevron-right"></i></span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ data.total_pages }}">
          <span><i class="bi bi-chevron-double-right"></i></span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
</div>
