<div class="mb-2">
  {% include "components/flash.html.twig" %}
</div>
<div id="table" class="bg-white shad rounded p-2">
  <div id="table-actions" class="p-2">
    <form>
      {{ csrf()|raw }}
      {% if has_create() %}
        <button class="btn btn-sm btn-success me-2" hx-on::after-request="new bootstrap.Modal(document.getElementById('modal')).show()" hx-get="/admin/{{ module.link }}/modal/create" hx-target=".modal-dialog" hx-select=".modal-content"><i class="bi bi-plus-square pe-1"></i> New</button>
      {% endif %}
      {% for link in filters.filter_links.links %}
        <button hx-get="/admin/{{ module.link }}/filter/link/{{ loop.index0 }}" hx-swap="outerHTML" hx-target="#table" hx-select="#table" class="btn btn-primary btn-sm text-light filter-link {% if filters.filter_links.active == loop.index0 %}active{% endif %} me-2">{{ link }} 
          <span class="link-count badge bg-light text-dark ms-1">--</span>
        </button>
        <span hx-get="/admin/{{ module.link }}/filter/count/{{ loop.index0 }}" hx-trigger="load" hx-swap="textContent" hx-target="previous .link-count"></span>
      {% endfor %}
      {% if has_export() and data.rows %}
        <a href="/admin/{{ module.link }}/export-csv" class="btn btn-sm btn-primary me-2"><i class="bi bi-download pe-1"></i> Export</a>
      {% endif %}
      {% if filters.show and data.rows %}
        <button class="btn btn-sm btn-primary me-2" hx-on::after-request="new bootstrap.Modal(document.getElementById('modal')).show()" hx-get="/admin/{{ module.link }}/modal/filter" hx-target=".modal-dialog" hx-select=".modal-content"><i class="bi bi-funnel pe-1"></i> Filter</button>
      {% endif %}
      {% if filters.show_clear %}
          <button hx-post="/admin/{{ module.link }}/modal/filter" type="submit" class="btn btn-sm btn-danger me-2" name="filter_clear"><i class="bi bi-trash pe-1"></i> Clear Filter</button>
      {% endif %}
    </form>
  </div>
  <div class="table-responsive p-2">
    {% if data.rows|length > 0 %}
      <form>
      {{ csrf()|raw }}
      <table class="table table-hover table m-0">
        <thead>
          <tr>
            {% if table_actions|length > 0 %}
            <th>
              <div class="d-flex justify-content-start align-items-center">
                <input id="select-all" onClick="selectAllToggle(event)" type="checkbox" />
                <div id="select-all-toggle" style="display: none;">
                  <div class="d-flex">
                    <select name="table_action" class="form-select p-1 ms-2" id="table-action" disabled>
                      <option disabled selected>Action</option>
                      {% for action in table_actions %}
                      <option value="{{ action.value }}">{{ action.label }}</option>
                      {% endfor %}
                    </select>
                    <button hx-post="/admin/{{ module.link }}/table-action" hx-confirm="Are you sure you want to apply this action?" hx-select="#module" hx-target="#module" hx-swap="outerHTML" type="submit" class="btn btn-sm btn-primary ms-1" id="table-action-submit" disabled>OK</button>
                  </div>
                </div>
              </div>
            </th>
            {% endif %}
            {% for column,title in headers %}
            <th hx-get="/admin/{{ module.link }}/sort/{{ loop.index0 }}" hx-target="#table" hx-select="#table" hx-swap="outerHTML" class="pointer {% if column == filters.order_by %}active {% if filters.sort == 'ASC' %}asc{% else %}desc{% endif %}{% endif %}" nowrap>{{ title }}</th>
            {% endfor %}
            {% if has_row_actions() %}
            <th class="text-end">Actions</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for row in data.rows %}
          <tr>
            {% if table_actions|length > 0 %}
              <td class="checkbox-cell">
                <input type="checkbox" name="table_selection[]" onChange="checkEnabledMultiAction(event)" id="select_{{ row.id }}" class="checkbox-selection" value="{{ row.id }}" />
              </td>
            {% endif %}
            {% for key,value in row %}
              <td>{{ format(key, value)|raw }}</td>
            {% endfor %}
            {% if has_row_actions() %}
              <td id="row-actions">
                <div class="d-flex justify-content-end">
                  {% if has_show(row.id) %}
                    <button class="btn btn-sm" hx-on::after-request="new bootstrap.Modal(document.getElementById('modal')).show()" hx-get="/admin/{{ module.link }}/modal/{{ row.id }}" hx-target=".modal-dialog" hx-select=".modal-content"><i class="bi bi-eye"></i></button>
                  {% endif %}
                  {% if has_edit(row.id) %}
                    <button class="btn btn-sm ms-1" hx-on::after-request="new bootstrap.Modal(document.getElementById('modal')).show()" hx-get="/admin/{{ module.link }}/modal/{{ row.id }}/edit" hx-target=".modal-dialog" hx-select=".modal-content"><i class="bi bi-pencil"></i></button>
                  {% endif %}
                  {% if has_delete(row.id) %}
                    <button class="btn btn-sm ms-1" hx-confirm="Please confirm deletion" hx-post="/admin/{{ module.link }}/{{ row.id }}/destroy"><i class="bi bi-trash"></i></button>
                  {% endif %}
                </div>
              </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
        <caption>
          {{ caption }}
        </caption>
      </table>
      </form>
    {% else %}
      <div class="text-center p-1">
          <strong>No data available</strong>
      </div>
    {% endif %}
  </div>
  {% if pagination.total_pages > 1 %}
    <nav 
      id="pagination" 
      class="mt-2"
      hx-boost="true"
      hx-target="#table"
      hx-select="#table"
      hx-swap="outerHTML">
      <ul class="pagination">
        {% if pagination.page != 1 and pagination.page > pagination.links %}
        <li class="page-item">
          <a class="page-link" href="/admin/{{ module.link }}/page/1">
            <span><i class="bi bi-chevron-double-left"></i></span>
          </a>
        </li>
        <li class="page-item {% if pagination.page - 1 <= 0 %}disabled{% endif %}">
          <a class="page-link" href="/admin/{{ module.link }}/page/{{ pagination.page - 1}}">
            <span><i class="bi bi-chevron-left"></i></span>
          </a>
        </li>
        {% endif %}
        {% for i in pagination.page - pagination.links..pagination.page - 1 %}
          {% if i >= 1 %}
          <li class="page-item">
            <a class="page-link" href="/admin/{{ module.link }}/page/{{ i }}">{{ i }}</a>
          </li>
          {% endif %}
        {% endfor %}
        <li class="page-item active">
          <a class="page-link" href="/admin/{{ module.link }}/page/{{ pagination.page }}">{{ pagination.page }}</a>
        </li>
        {% for i in pagination.page + 1..pagination.page + pagination.links %}
          {% if i <= pagination.total_pages %}
          <li class="page-item">
            <a class="page-link" href="/admin/{{ module.link }}/page/{{ i }}">{{ i }}</a>
          </li>
          {% endif %}
        {% endfor %}
        {% if pagination.page != pagination.total_pages and pagination.page < pagination.total_pages - pagination.pagination_links %}
        <li class="page-item">
          <a class="page-link {% if pagination.page + 1 >= pagination.total_pages %}disabled{% endif %}" href="/admin/{{ module.link }}/page/{{ pagination.page + 1 }}">
            <span><i class="bi bi-chevron-right"></i></span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="/admin/{{ module.link }}/page/{{ pagination.total_pages }}">
            <span><i class="bi bi-chevron-double-right"></i></span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
</div>
<script>
  var selectAllToggle = (e) => {
    const state = e.currentTarget.checked
    const checkboxes = document.querySelectorAll(".checkbox-selection");
    checkboxes.forEach((checkbox) => {
        checkbox.checked = state;
    });
    setMultiActionDisabled(!state);
  }
  var checkEnabledMultiAction = (e) => {
    const checkboxes = document.querySelectorAll(".checkbox-selection");
    const checked = [];
    checkboxes.forEach((checkbox) => {
      if (checkbox.checked) {
        checked.push(checkbox);
      }
    })
    setMultiActionDisabled(!checked.length);
  }
  var setMultiActionDisabled = (state) => {
    document.getElementById("table-action").disabled = state;
    document.getElementById("table-action-submit").disabled = state;
    document.getElementById("select-all-toggle").style.display = !state 
      ? 'block' 
      : 'none';
  }
</script>
