<div {%block tab_index %}tabIndex="-1"{% endblock %}
    id="{{ track.hash }}"
    class="track-row d-flex align-items-center truncate {% if id == track.hash %}active{% endif %}">
    <span class="liked px-1 {% if track.liked %}active{% endif %} d-flex align-items-center justify-content-center" hx-get="/like/toggle/{{ track.hash }}" hx-swap="outerHTML" hx-trigger="click">
        <i class="like bi {% if track.liked %}bi-heart-fill{% else %}bi-heart{% endif %}"></i>
    </span>
    <span class="cover px-1">
        <img loading="lazy" title="{{ track.album|raw }}" onError="this.src = '/images/no-album.png'" src="/tracks/cover/{{ track.hash }}/38/38" alt="cover" />
    </span>
    <div class="d-flex align-items-center flex-grow-1 truncate">
        <div onClick="showDotMenu('{{ track.hash }}')"
        class="d-flex flex-column flex-grow-1 truncate">
            <span class="title px-1 truncate">{{ track.title|raw }}</span>
            <span class="artist px-1 truncate text-muted">{{ track.artist|raw }}</span>
        </div>
    </div>
    {% block badge %}{% endblock %}
    <span class="menu">
        <div class="btn-group dropstart">
            <button type="button" 
                class="btn dropdown-toggle dot-menu" 
                data-bs-display="static"
                data-bs-toggle="dropdown" 
                aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul class="dropdown-menu">
                <li hx-get={% block play_link %}"/tracks/play/{{ track.hash }}"{% endblock %}
                    hx-swap="none" 
                    hx-trigger="click">
                    <span class="dropdown-item"><i class="bi bi-play-btn pe-1"></i> Play</span>
                </li>
                <li hx-get="/tracks/search/artist/{{ track.hash }}">
                    <span class="dropdown-item truncate"><i class="bi bi-person pe-1"></i> {{ track.artist|raw }}</span>
                </li>
                <li hx-get="/tracks/search/albumhash/{{ track.hash }}">
                    <span class="dropdown-item truncate"><i class="bi bi-disc pe-1"></i> {{ track.album|raw }}</span>
                </li>
                {% if track.playtime_string %}
                <li>
                    <span class="dropdown-item disabled"><i class="bi bi-clock pe-1"></i> {{ track.playtime_string }}</span>
                </li>
                {% endif %}
                {% if playlists %}
                <li>
                    <span hx-on::after-request="bootstrap.Modal.getOrCreateInstance('#app-modal').show()" class="dropdown-item" hx-get="/playlists/list/{{ track.hash }}" hx-swap="innerHTML" hx-target="#app-modal .modal-content"><i class="bi bi-plus-circle pe-1"></i> Add to Playlist</span>
                </li>
                {% endif %}
            </ul>
        </div>
    </span>
</div>
